USE [master]
GO
/****** Object:  Database [EST]    Script Date: 01/08/2014 09:28:31 ******/
CREATE DATABASE [EST] ON  PRIMARY 
( NAME = N'EST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EST.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EST.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EST]
GO
/****** Object:  Table [dbo].[Supported Severities]    Script Date: 01/08/2014 09:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supported Severities](
	[customerId] [int] NOT NULL,
	[severity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 01/08/2014 09:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[customerId] [int] NOT NULL,
	[supportKey] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Support] PRIMARY KEY CLUSTERED 
(
	[supportKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Severity Action]    Script Date: 01/08/2014 09:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Severity Action](
	[customerId] [int] NOT NULL,
	[action1] [nvarchar](max) NULL,
	[action2] [nvarchar](max) NULL,
	[action3] [nvarchar](max) NULL,
	[action4] [nvarchar](max) NULL,
	[additionalInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Severity Action] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 01/08/2014 09:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[customerId] [int] NULL,
	[holiday] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guidelines]    Script Date: 01/08/2014 09:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guidelines](
	[customerId] [int] NOT NULL,
	[guidelines] [nvarchar](max) NULL,
 CONSTRAINT [PK_Guidelines] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 01/08/2014 09:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[documentPath] [nvarchar](max) NULL,
	[spptOrganization] [nchar](10) NULL,
	[queue] [nvarchar](50) NULL,
	[offset] [decimal](4, 2) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Customer] ON [dbo].[Customer] 
(
	[customerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Support_Customer]    Script Date: 01/08/2014 09:28:34 ******/
ALTER TABLE [dbo].[Support]  WITH CHECK ADD  CONSTRAINT [FK_Support_Customer] FOREIGN KEY([supportKey])
REFERENCES [dbo].[Support] ([supportKey])
GO
ALTER TABLE [dbo].[Support] CHECK CONSTRAINT [FK_Support_Customer]
GO
/****** Object:  ForeignKey [FK_Severity Action_Customer]    Script Date: 01/08/2014 09:28:34 ******/
ALTER TABLE [dbo].[Severity Action]  WITH CHECK ADD  CONSTRAINT [FK_Severity Action_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Severity Action] ([customerId])
GO
ALTER TABLE [dbo].[Severity Action] CHECK CONSTRAINT [FK_Severity Action_Customer]
GO
/****** Object:  ForeignKey [FK_Guidelines_Customer]    Script Date: 01/08/2014 09:28:34 ******/
ALTER TABLE [dbo].[Guidelines]  WITH CHECK ADD  CONSTRAINT [FK_Guidelines_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Guidelines] ([customerId])
GO
ALTER TABLE [dbo].[Guidelines] CHECK CONSTRAINT [FK_Guidelines_Customer]
GO
